<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('layouts/head.ejs') -%>
  <body>
    <!-- Navigation-->
    <%- include('layouts/navbar.ejs') -%>
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('/img/1.jpg')">
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="post-heading">
              <h1><%= blogpost.title %></h1>
              <span class="meta">
                Posted on <%= blogpost.datePosted.toDateString() %>
              </span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Post Content-->
    <article class="mb-4">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7"><%- blogpost.body %></div>
        </div>
      </div>
    </article>
    <!-- Footer-->
    <%- include('layouts/footer.ejs') -%>

    <!-- Bootstrap core JS-->
    <%- include('layouts/scripts.ejs') -%>
  </body>
</html>

<!-- ejs code for image upload, dynamic background image for posts -->
<!-- style="background-image: url('<%= blogpost.image%>')"
    > -->
