<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('layouts/head.ejs') -%>
  <body>
    <!-- Navigation-->
    <%- include('layouts/navbar.ejs') -%>
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('/img/newuser.png')">
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="page-heading">
              <h1>New Account</h1>
              <span
                style="font-style: italic; font-weight: 400"
                class="subheading"
                >Please follow steps below...</span
              >
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Main Content-->
    <main class="mb-4">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="my-5">
              <% if (errors != null && errors.length > 0) { %>
              <ul class="list-group">
                <% for (var i = 0; i < errors.length; i++) { %>
                <li class="list-group-item list-group-item-danger">
                  <%= errors[i] %>
                </li>
                <% } %>
              </ul>
              <% } %>
              <form
                action="/users/register"
                method="POST"
                enctype="multipart/form-data"
              >
                <div class="form-floating">
                  <input
                    class="form-control"
                    id="username"
                    name="username"
                    type="text"
                    placeholder="username"
                    value="<%= username %>"
                  />
                  <label>Username</label>
                </div>
                <div class="form-floating">
                  <input
                    class="form-control"
                    id="password"
                    name="password"
                    type="password"
                    placeholder="password"
                    value="<%= password %>"
                  />
                  <label>Password</label>
                </div>
                <br />
                <!-- Submit Button-->
                <button class="btn btn-primary" type="submit">Register</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Footer-->
    <%- include('layouts/footer.ejs') -%>

    <!-- Bootstrap core JS-->
    <%- include('layouts/scripts.ejs') -%>
  </body>
</html>
